
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#banner{
    background-color: rgb(222, 34, 36);
    text-align: center;
    height: 44px;
}

#header {
    height: 86px;
}

#header-top{
    background-color: #000;
    height: 43px;
    text-align: center;
}

.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 43px;
    padding: 0 24px;
    display: block;  
    font-size: 15px;
}

#header-top li:hover a{
    color: #ffe66b;
}

.nav .nav-arrow-dow {
    font-size: 12px;    
}

.nav .btn-shopping:hover {
    color: #ffe66b;
}

.nav .btn-shopping {
    height: 30px;
    padding: 0px 8px;
    background-color: #000;
    color: #fff;
    border: 1px solid rgb(70, 68, 68);
    cursor: pointer;
}

.nav input {
    height: 25px;
    min-width: 200px;
    width: 100%;
    border-radius: 5px;
}

#header-main {
    background-color: #fed100;
    text-align: center;
    height: 43px;
}

#header-main li:hover a{
    background-color: #fff;
}

#header-main .nav a{
    color: #000;
}

.nav .nav-search-dow {
    position: absolute;
    color: #333;    
    font-size: 20px;
    right: 32px;
    top: -1px;
    line-height:30px;
}
#header-top .nav .input-search {
    position: relative;
    padding: 0px 24px 0px 24px;
}

#header-top .nav .input-search input {
    padding:  8px;
}

.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffe66b;
    display: inline-block;
}

/*login + registered form*/

.login_form, .registered_form{
    width: 98%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}

#h1{
    text-align: center;
    color: #fed100;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-box{margin-bottom: 10px;}
.input-box input{
    padding: 8px 15px;
    width: 98%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn-box{
    text-align: center;
    margin-bottom: 10px;
}

.btn-box button{
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #fed100;
    color: #000;
    border: none;
    outline: none;
}

.Forgot-password a{
    position: absolute;
    text-decoration: none;  
    right: 0;   
    bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
}
/*end login + registered form*/
/*-------Adress-form*/
.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.adress-form-content {
    width: 450px;
    height: 450px;
    background-color:#fff;
    border-radius: 5px;
}

.adress-form-content form {
    padding: 12px 40px;
}

.adress-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.adress-form-content h2 span {
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
}

.adress-form-conten form p {
    font-size: 16px;
}

.adress-form-content form input, select {
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}

.adress-form-content button {
    margin-top: 20px;
    height: 40px;
    width:  80%;
    cursor: pointer;
    background-color: #F97E0E;
    outline: none;
    border: none;
    color: #fff;
}
/*end Adress Form */
#slider {
    text-align: center;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/*slider*/
#slider img{
    width: 100%;
    height: 590px;
    object-fit: cover;
    margin: 0 auto;
}
/*content*/
/*seal section*/
.deal-section {
    background-color: #000;
}

#content .content-section {
    width: 800px; 
    padding: 64px 0;  
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#content .content-section .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin: 50px 0;
    color: #fff;
}
/*end content section*/

/*deallaptop-list*/
.deallaptop-list {
    margin: 32px -8px 0;
    padding-bottom: 32px;
    display: flex;
}

.deallaptop-item {
    width: calc(100% / 5);
    padding: 0 8px;
}

.deallaptop-img {
    width: 100%;
    display: block;
}

.deallaptop-img:hover {
    opacity: 0.6;
}

.deallaptop-body span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.deallaptop-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.deallaptop-price {
    margin-top: 15px;
    color: #000;
}

/*end seal section*/

/*laptop gaming section*/
.laptopgaming-section .banner-laptopgaming img {
    width: 100%;
    display: block;
}   

.laptopgaming-section {
    background-color: #25304b;
}

.laptopgaming-section .imgsale-list{
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 64px;
}

.laptopgaming-section .imgsale-list .imgsale-item {
    float: left;
    width: calc(100% / 2);
    padding: 0 8px;
}

.laptopgaming-section .imgsale-list .sale-img {
    width: 100%;
    display: block;
}



/*end laptopgaming-section*/
/*laptopacer-section*/
.laptopacer-section {
    background-image: url(/asset/img/Img-LapTop/Laptop-Acer/background01-1920x2000-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*laptopaus-section*/
.laptopasus-section {
    background-image: url(/asset/img/Img-LapTop/Laptop-Asus/background01-1920x2000-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*laptopdell-section*/
.laptopdell-section {
    background-image: url(/asset/img/Img-LapTop/Laptop-Dell/background01-1920x2000-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*laptophp-section*/
.laptophp-section {
    background-image: url(/asset/img/Img-LapTop/Laptop-Hp/background01-1920x2000-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*laptomacbook-section*/
.laptopmacbook-section {
    background-image: url(/asset/img/Img-LapTop/Laptop-Macbook/background01-1920x2000-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
/* 
/*info laptop-deal-gaming 
.info-laptop{
    background-color: #ffffff;
    width: 75%;
    margin: auto auto;
}
.info-laptop a{
    text-decoration: none;
    color: black;
}

.form-by-laptop {
    width: 98%;
    max-width: 250px;
    max-height: 350px;
    margin: 20px auto;
    background-color: #ccc;
    padding: 15px;
    border: 2px dotted #ccc;
    border-radius: 10px;
}

.info-laptop img {
    border-radius:70%;
    -moz-border-radius:50%;
    -webkit-border-radius:10%;
}

.form-by-laptop h3 {
    margin-bottom: 20px;
    text-align: center;
} */

/*info laptop-deal-gaming */
.content .container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.content .img-laptop img {
    border-radius:70%;
    -moz-border-radius:50%;
    -webkit-border-radius:10%;
}

.content .info-desc {
    font-size: 16px;
    width: 80%;
    flex: 1;
    display: inline-block;
    max-width: 300px;
}

.content .info-desc p {
    line-height: 1.6;
}

.content .info-laptop-text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
}

.form-buy-laptop {
    max-width: 250px;
    max-height: 350px;
    background-color: #ccc;
    padding: 15px;
    border: 2px dotted #ccc;
    border-radius: 10px;
}

/*footer section*/
#footer {
    border-top: 1px solid gray;
    padding-top: 40px;
    border-top: 1px solid gray;
    background-color: #25304b;
    padding: 64px 16px;
}

#footer .socials-list {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 20px;
    text-align: center;
}

#footer .socials-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

#footer .socials-list a:hover {
    opacity: 0.6;
}

#footer .copyright {
    color: #fff;
    margin-top: 15px;
    text-align: center;
}

#footer .container-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container-footer .container-footer-iteam ul {
    list-style: none;
}

.container-footer li a{
    text-decoration: none;
    color: white;
    
}

.container-footer-iteam {
    padding: 0 30px;
    line-height: 1.6;
}

#header #header-main .nav__bars-btn {
    display: none!important;
    width: 22px;
    height: 22px;   
    background-color: #fed100;
    margin-left: 8px;
    line-height: 55px;
    position: relative;
    margin-right: 4px;
    display: inline-block;
}
#header-main .nav__bars-btn .menu {
    position: absolute;
    display: none;
    width:  220px;
    background-color: #fed100;
    top: 43px;
    left: -8px;
}

#header-main .nav__bars-btn:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    left: 0;
    top: 20px;
    width: 100%;
}

/*mobile reponsive width < 740px */ 
@media only screen and (max-width: 46.1875em) {

}

/* Tablet reponsive: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /*nav header*/
    #header-top .nav li .lichSuDonHang {
        display: none;
    }
    #header-top .nav li .hoiDap {
        display: none;
    }
    #header-top .nav li .login {
        display: none;
    }
    #header-top .nav li .registered {
        display: none;
    }
    #header-main .nav{
        display: none;
    }
    
    #header #header-main .nav__bars-btn {
        display: block!important;
    }

    #header #header-main .nav__bars-btn:hover .menu {
        display: block;
    }
    /* info-laptop */
    .content .container {
        display: block;
    }
    .img-laptop {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-buy-laptop {
        margin-top: 20px;   
        margin-left: auto;
        margin-right: auto;
    }
    .info-desc {
        margin: 20px auto;
        display: block !important;
    }
}